/* css reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}



/* CSS Variable */
:root{
    --navbar-height:px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: opx;
}
#navbar::before{
    content: "";
    background-color: black;    
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar logo and image */
#logo{
   margin:  10px 34px;
}

#logo img{
    height: 73px;
    margin: 5px 6px
}
/* Navigation Bar list styling */


#navbar ul{
    display: flex;
    font-family: 'Baloo 2', cursive;
}
#navbar ul li{

    list-style: none;
    font-weight: 1.3rem;
}

#navbar ul a{
   color: white;
    display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;

}
#navbar ul a:hover{
    color: black;
 background-color: white;    

 }

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 550px;
}
#home::before{
    content: "";
    background:url('../bg4.jpg')no-repeat center center/cover;
    position: absolute;
   top: 0px;
   left: 0px;
    height: 642px;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}    
#home p{
    color:white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;


}

/* service selection */
#services{
   padding: 53px;
    margin: 15px;
    display: flex;
    /* background-color:rgb(185, 184, 184); */
    /* border-radius: 9px; */
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 13px;
    border-radius: 34px;
    background-color: #d3c7c7;
    margin-bottom: 20px;
}


#services .box img{
    height: 160px;
    margin:auto;
    display: block;
}



#services .box p{
    font-family: 'Baloo 2', cursive;
}



/* Client Section */
#client-section{
position: relative;
}


#client-section::before{
    content: "";
    position :absolute;
    background: url('../kp.jpg.');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}



#clients{
    display: flex;
    justify-items: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}

    #clients img{
    height: 124px;
    display: flex;
    justify-items: center;
    align-items: center;

}
/* #contact section */

#contact{
    position: relative;
}

#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background:url('../kunal12.jpg')no-repeat center center/cover;; 
z-index: -1;
opacity: 0.9;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}


#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.rem;
    font-family: 'Bree Serif', serif;
}


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}




/* utility classes */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover{
    /* color: yellow; */
    background-color: rgb(185, 94, 94);
}

.center{
    align-items: center;
}
